@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

#create_software, #create_hardware {
  display:none;
}

.exta_loan_info{
  display:none;
}

.flash-message{
  padding:15px;
}